.MovieCat{
    
position: absolute;
width: 279px;
height: 31px;
left: 67px;
top: 888px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #000000;
}
.movie{
    position: absolute;
    
    height: 349px;
    left: 67px;
    top: 888px;
}
@media only screen and (min-width : 320px) {
    .movie{
        position: absolute;
        width: 70%;
        height: 349px;
        left: 50px;
        top: 888px;
    }
   } 
  